.prefecture_path {
  fill: rgb(206, 206, 206);
  stroke: black;
}

.prefecture_path_hover {
  fill: rgb(127, 201, 113);
  stroke: rgb(0, 133, 7);
  stroke-width: 2px;
}

.prefecture_circle {
  fill: rgb(253, 224, 71);
  stroke: black;
}
.prefecture_circle_hover {
  fill: rgb(253, 224, 71);
  stroke: black;
  stroke-width: 2px;
}
